@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary: #060918;
  --secondary: #5d12d2;
  /* 1640d6 */
  /* apik 6919ff */
  --white-accent: #eeeeee;
}

::selection {
  background-color: var(--secondary);
}

body {
  min-height: 3000px;
}

/* nav */

.container-nav {
  width: 100%;
  height: max-content;
  position: fixed;
  background: none;
  padding: 0 10px;
  z-index: 999;
}

nav {
  max-width: 1200px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  line-height: 70px;
  margin: auto;
  margin-top: 10px;
  padding: 0 20px;
  border-radius: 50px;
  border: 1px solid var(--secondary);
  transition: 0.2s ease-in-out;
}

.sticky {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  border-radius: 50px;
  border: 1px solid var(--white-accent);
}

nav .humberger {
  display: none;
}

nav span {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

nav span h1 {
  color: var(--white-accent);
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li a {
  color: var(--white-accent);
  font-weight: 600;
  transition: 0.1s ease-in-out;
}

/* nav ul li a:hover {
  color: var(--secondary);
} */

/* dropdown */

nav ul li a .icon-dropdown-culture {
  width: 15px;
  margin-bottom: -2px;
}
/*
nav ul li .dropdown-culture:hover .content-dropdown-culture {
  display: block;
}

nav ul li .content-dropdown-culture {
  display: none;
  border: 2px solid var(--white-accent);
  margin-top: -25px;
  padding: 0 10px;
  background-color: var(--primary);
}

.content-dropdown-culture ul {
  display: block;
  color: var(--white-accent);
  gap: 0;
} */

/* hero */

.container-hero {
  width: 100%;
  height: max-content;
  background-color: var(--secondary);
}

.hero {
  max-width: 1200px;
  min-height: 700px;
  margin: auto;
  padding: 100px 20px;
}

.hero .text-hero {
  max-width: 700px;
  height: max-content;
  /* margin: auto; */
  color: var(--white-accent);
  /* text-align: center; */
  margin-top: 50px;
}

.text-hero h1 {
  font-size: 55px;
}

.text-hero h1 b {
  background-color: var(--white-accent);
  color: var(--secondary);
}

.text-hero p {
  font-size: 28px;
  margin-top: 10px;
}

.text-hero a button {
  width: max-content;
  height: 50px;
  border: 1px solid var(--white-accent);
  border-radius: 3px;
  padding: 0 10px;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}

.text-hero a button:hover {
  cursor: pointer;
  padding: 5px 15px;
  background: none;
  border-color: var(--white-accent);
  color: var(--white-accent);
}

.text-hero a .event {
  background: none;
  color: var(--white-accent);
}

.text-hero a .event:hover {
  color: var(--primary);
  background-color: var(--white-accent);
}

/* history */

.container-history {
  width: 100%;
  height: max-content;
  background-color: var(--primary);
}

.history {
  max-width: 1200px;
  min-height: 700px;
  margin: auto;
  padding: 100px 20px;
}

.text-history {
  max-width: 700px;
  color: var(--white-accent);
}

.text-history h1 {
  font-size: 45px;
}
