@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primary: #eeeeee;
  /* awal e 060918 */
  /* lumayan 0C356A */
  --secondary: #279eff;
  /* 5d12d2 */
  /* 1640d6 */
  /* apik 6919ff */
  /* lumayan 279EFF */
  --white-accent: #eeeeee;
  --black-accent: #272727;
  --red-accent: #cf0a0a;
}

body {
  min-height: 5000px;
}

/* nav */

.container-nav {
  width: 100%;
  height: max-content;
  position: fixed;
  background: none;
  padding: 0 10px;
  z-index: 999;
}

nav {
  max-width: 1200px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  line-height: 70px;
  margin: auto;
  margin-top: 10px;
  padding: 0 20px;
  border-radius: 50px;
  border: 1px solid transparent;
  transition: 0.2s ease-in-out;
}

.sticky {
  background-color: rgb(12, 52, 106, 0.7);
  backdrop-filter: blur(4px);
  border-radius: 50px;
  border: 1px solid var(--white-accent);
}

/* menu icon */

.menu-icon {
  /* display: inline-block; */
  cursor: pointer;
  display: none;
  margin-top: 20px;
}

.line {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: transform 0.3s, opacity 0.3s;
}

.close-icon .line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.close-icon .line:nth-child(2) {
  opacity: 0;
}

.close-icon .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

nav span {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

nav span h1 {
  color: var(--white-accent);
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li a {
  color: var(--white-accent);
  font-weight: 600;
  transition: 0.1s ease-in-out;
}

nav ul li a:hover {
  color: var(--secondary);
}

/* dropdown */

nav ul li a .icon-dropdown-culture {
  width: 15px;
  margin-bottom: -2px;
}
/*
nav ul li .dropdown-culture:hover .content-dropdown-culture {
  display: block;
}

nav ul li .content-dropdown-culture {
  display: none;
  border: 2px solid var(--white-accent);
  margin-top: -25px;
  padding: 0 10px;
  background-color: var(--primary);
}

.content-dropdown-culture ul {
  display: block;
  color: var(--white-accent);
  gap: 0;
} */

/* hero */

.container-hero {
  width: 100%;
  height: max-content;
  background-image: url(../assets/images/bg-hero-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: var(--secondary); */
}

.hero {
  max-width: 1200px;
  min-height: 700px;
  margin: auto;
  padding: 100px 20px;
}

.hero .text-hero {
  max-width: 700px;
  height: max-content;
  margin: auto;
  color: var(--white-accent);
  text-align: center;
  margin-top: 50px;
}

.text-hero h1 {
  font-size: 55px;
}

.text-hero p {
  font-size: 28px;
  margin-top: 10px;
}

.text-hero a button {
  width: max-content;
  height: 50px;
  border: 1px solid var(--secondary);
  color: var(--white-accent);
  background-color: var(--secondary);
  border-radius: 3px;
  padding: 0 15px;
  font-size: 18px;
  margin: 20px 10px;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}

.text-hero a button:hover {
  cursor: pointer;
  padding: 5px 20px;
  margin: 20px 5px;
  background: none;
  border-color: var(--secondary);
  color: var(--secondary);
}

.text-hero a .event {
  background: none;
  color: var(--white-accent);
  border: 1px solid var(--white-accent);
}

.text-hero a .event:hover {
  color: var(--primary);
  background-color: var(--white-accent);
  color: var(--secondary);
}

/* culture */

.container-culture {
  width: 100%;
  height: max-content;
  background: rgb(128, 200, 246);
  background: linear-gradient(
    220deg,
    rgba(128, 200, 246, 1) 0%,
    rgba(57, 87, 237, 1) 100%
  );
  /* background-color: var(--primary); */
}

.culture {
  max-width: 1200px;
  min-height: 700px;
  margin: auto;
  padding: 100px 20px;
  display: flex;
  flex-wrap: wrap;
}

.content-culture-1 {
  width: 100%;
  display: flex;
  gap: 20px;
  /* flex-wrap: wrap; */
  margin-bottom: 20px;
}

.content-culture-2 {
  width: 100%;
  display: flex;
  gap: 20px;
  /* flex-wrap: wrap; */
  text-align: end;
}

.culture img {
  max-width: 450px;
  box-shadow: 0px 20px 50px 0px var(--black-accent);
  border-radius: 10px;
}

.text-culture {
  max-width: 600px;
  margin: auto;
  color: var(--white-accent);
}

.text-culture h1 {
  font-size: 45px;
}

.text-culture p {
  font-size: 18px;
  margin-top: 10px;
}

.text-culture .view-culture {
  width: max-content;
  height: 50px;
  border: 1px solid var(--secondary);
  color: var(--white-accent);
  background-color: var(--secondary);
  border-radius: 3px;
  padding: 0 25px;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 700;
  box-shadow: 0px 20px 50px 0px var(--black-accent);
  transition: 0.2s ease-in-out;
}

.view-culture:hover {
  cursor: pointer;
  padding: 5px 30px;
  margin-left: -5px;
  background: none;
  border-color: var(--secondary);
  color: var(--secondary);
  background-color: var(--white-accent);
}

/* destination */

.container-destination {
  width: 100%;
  height: max-content;
  background: rgb(57, 87, 237);
  background: linear-gradient(
    120deg,
    rgba(57, 87, 237, 1) 0%,
    rgba(128, 200, 246, 1) 100%
  );
  /* background-image: linear-gradient(to bottom #3957ed, #80c8f6); */
  /* background-color: var(--secondary); */
}

.destination {
  max-width: 1200px;
  min-height: 700px;
  margin: auto;
  padding: 100px 20px;
}

.text-destination {
  max-width: 900px;
  color: var(--white-accent);
  text-align: center;
  margin: auto;
}

.text-destination h1 {
  font-size: 45px;
  color: var(--white-accent);
}

.all-card-destination {
  max-width: 100%;
  height: max-content;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.favorite .empty-heart {
  width: 20px;
  height: 20px;
  float: right;
  margin-top: -40px;
  fill: var(--white-accent);
  display: block;
}

.favorite:hover {
  cursor: pointer;
}

.favorite .empty-heart:hover {
  fill: var(--red-accent);
  color: var(--white-accent);
}

.favorite .full-heart {
  width: 20px;
  height: 20px;
  float: right;
  margin-top: -40px;
  fill: var(--red-accent);
  display: none;
}

.card-destination-1 {
  width: 400px;
  height: 610px;
  background-image: url(../assets/images/prambanan.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 20px;
  color: var(--white-accent);
  filter: grayscale(100%);
  box-shadow: 0px 20px 50px 0px var(--black-accent);
  transition: 0.2s ease-in-out;
}

.card-destination-1 a {
  width: max-content;
  color: var(--white-accent);
}

.card-destination-1 h2 {
  width: max-content;
  background: none;
  padding: 2px 5px;
}

.empty-div:hover .card-destination-1 h2 {
  color: var(--secondary);
  padding: 2px 5px;
  background-color: var(--white-accent);
  transition: 0.3s ease-in-out;
}

.card-destination-1:hover {
  filter: grayscale(0%);
}

.card-destination-2 {
  width: 440px;
  height: 300px;
  background-image: url(../assets/images/bali.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 20px;
  color: var(--white-accent);
  filter: grayscale(100%);
  box-shadow: 0px 20px 50px 0px var(--black-accent);
  transition: 0.2s ease-in-out;
}

.card-destination-2 a {
  width: max-content;
  color: var(--white-accent);
}

.card-destination-2 h2 {
  width: max-content;
  background: none;
  padding: 2px 5px;
}

.empty-div:hover .card-destination-2 h2 {
  color: var(--secondary);
  padding: 2px 5px;
  background-color: var(--white-accent);
  transition: 0.3s ease-in-out;
}

.card-destination-2:hover {
  filter: grayscale(0%);
}

.card-destination-3 {
  width: 300px;
  height: 300px;
  background-image: url(../assets/images/labuan-bajo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  color: var(--white-accent);
  filter: grayscale(100%);
  box-shadow: 0px 20px 50px 0px var(--black-accent);
  transition: 0.2s ease-in-out;
}

.card-destination-3 a {
  width: max-content;
  color: var(--white-accent);
}

.card-destination-3 h2 {
  width: max-content;
  background: none;
  padding: 2px 5px;
}

.empty-div:hover .card-destination-3 h2 {
  color: var(--secondary);
  padding: 2px 5px;
  background-color: var(--white-accent);
  transition: 0.3s ease-in-out;
}

.card-destination-3:hover {
  filter: grayscale(0%);
}

.card-destination-4 {
  width: 300px;
  height: 300px;
  background-image: url(../assets/images/bg-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 20px;
  color: var(--white-accent);
  filter: grayscale(100%);
  box-shadow: 0px 20px 50px 0px var(--black-accent);
  transition: 0.2s ease-in-out;
}

.card-destination-4 a {
  width: max-content;
  color: var(--white-accent);
}

.card-destination-4 h2 {
  width: max-content;
  background: none;
  padding: 2px 5px;
}

.empty-div:hover .card-destination-4 h2 {
  color: var(--secondary);
  padding: 2px 5px;
  background-color: var(--white-accent);
  transition: 0.3s ease-in-out;
}

.card-destination-4:hover {
  filter: grayscale(0%);
}

.card-destination-5 {
  width: 440px;
  height: 300px;
  background-image: url(../assets/images/borobudur.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  margin-left: -140px;
  color: var(--white-accent);
  filter: grayscale(100%);
  box-shadow: 0px 20px 50px 0px var(--black-accent);
  transition: 0.2s ease-in-out;
}

.card-destination-5 a {
  width: max-content;
  color: var(--white-accent);
}

.card-destination-5 h2 {
  width: max-content;
  background: none;
  padding: 2px 5px;
}

.empty-div:hover .card-destination-5 h2 {
  color: var(--secondary);
  padding: 2px 5px;
  background-color: var(--white-accent);
  transition: 0.3s ease-in-out;
}

.card-destination-5:hover {
  filter: grayscale(0%);
}

.all-card-destination .view-more {
  width: max-content;
  height: 50px;
  border: 1px solid var(--secondary);
  color: var(--white-accent);
  background-color: var(--secondary);
  border-radius: 3px;
  padding: 0 15px;
  font-size: 18px;
  margin: 20px 10px;
  font-weight: 700;
  box-shadow: 0px 20px 50px 0px var(--black-accent);
  transition: 0.2s ease-in-out;
}

.view-more:hover {
  cursor: pointer;
  padding: 5px 20px;
  margin: 20px 5px;
  background: none;
  border-color: var(--secondary);
  color: var(--secondary);
  background-color: var(--white-accent);
}

/* wonderland */

.container-wonderland {
  width: 100%;
  height: 550px;
  background-image: url(../assets/images/bali.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.wonderland {
  max-width: 1200px;
  min-height: 550px;
  margin: auto;
  padding: 100px 0px;
}

.text-wonderland {
  text-align: center;
  color: var(--white-accent);
}

.text-wonderland h1 {
  font-size: 45px;
}

.video-wonderland {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  text-align: center;
  padding: 0 50px;
}

.video-wonderland iframe {
  min-width: 100%;
  max-width: 980px;
  height: 470px;
  border-radius: 10px;
  margin: auto;
  border: none;
  box-shadow: 0px 20px 50px 0px var(--black-accent);
}

/* explore */

.container-explore {
  width: 100%;
  height: max-content;
  background: rgb(57, 87, 237);
  background: linear-gradient(
    120deg,
    rgba(57, 87, 237, 1) 0%,
    rgba(128, 200, 246, 1) 100%
  );
  /* background-color: var(--secondary); */
}

.explore {
  max-width: 1200px;
  min-height: 700px;
  margin: auto;
  padding: 250px 20px 100px 20px;
}

.text-explore {
  color: var(--white-accent);
  text-align: center;
}

.text-explore h1 {
  font-size: 45px;
}

/* media query laptop */

@media screen and (max-width: 1200px) {
  /* destination */

  .empty-div {
    width: 50%;
  }

  .card-destination-1 {
    width: 100%;
  }

  .two-card-1 {
    width: 40%;
  }

  .card-destination-2 {
    width: 100%;
  }

  .card-destination-3 {
    width: 100%;
  }

  .two-card-2 {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .two-card-2 {
    width: 48%;
  }

  .card-destination-4 {
    width: 100%;
  }

  .card-destination-5 {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
  }

  /* explore*/
  .explore {
    padding: 200px 20px 100px 20px;
  }
}

/* media query tablet */
@media screen and (max-width: 768px) {
  /* nav */

  nav .menu-icon {
    display: inline-block;
  }

  nav .hidden-ul {
    width: max-content;
    height: max-content;
    display: block;
    position: absolute;
    right: -200px;
    margin-top: 80px;
    padding: 10px 20px;
    text-align: end;
    background-color: rgb(12, 52, 106, 0.7);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid var(--white-accent);
    transition: all 0.3s ease-in-out;
  }

  nav .show-ul {
    width: max-content;
    height: max-content;
    display: block;
    position: absolute;
    right: 30px;
    margin-top: 80px;
    padding: 10px 20px;
    text-align: end;
    background-color: rgb(12, 52, 106, 0.7);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid var(--white-accent);
    transition: all 0.3s ease-in-out;
  }

  /* hero */

  .text-hero h1 {
    font-size: 40px;
  }

  .text-hero p {
    font-size: 18px;
  }

  /* culture */

  .text-culture h1 {
    font-size: 30px;
  }

  .text-culture p {
    font-size: 18px;
  }

  /* explore*/
  .explore {
    padding: 100px 20px;
  }
}

/* media query smartphone */
@media screen and (max-width: 600px) {
  /* hero */

  .hero .text-hero h1 {
    font-size: 35px;
  }
}
