@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

:root {
  /* color */
  --primary: #041562;
  --secondary: #da1212;
  --white-accent: #f0f0f0;
  --black-accent: #272727;
  /* font dekstop */
  --font-size-dekstop-heading-1: 45px;
  --font-size-dekstop-heading-2: 30px;
  --font-size-p: 18px;
  /* font mobile */
  --font-size-mobile-heading-1: 25px;
  --font-size-mobile-heading-2: 20px;
}

h1 {
  font-size: var(--font-size-dekstop-heading-1);
}

h2 {
  font-size: var(--font-size-dekstop-heading-2);
}

p {
  font-size: var(--font-size-p);
}

/* body {
  background-color: var(--background-dark-mode);
  transition: 0.3s ease-in-out;
} */

/* .dark-mode {
  --background-dark-mode: #272727;
  --color-dark-mode: #eeeeee;
  transition: 0.3s ease-in-out;
} */

.container-loading {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: var(--secondary);
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.hiddenToTop {
  position: absolute;
  top: -2000px;
  z-index: 9;
  transition: all 1s ease-in-out;
}

.hiddenToTop .loading-content {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.loading-content {
  font-size: var(--font-size-dekstop-heading-1);
  color: var(--white-accent);
}

.loading-content svg {
  margin-bottom: -10px;
  fill: #eeeeee;
  animation: spinLoading 1s linear infinite;
}

@keyframes spinLoading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* nav */

.container-nav {
  width: 100%;
  height: max-content;
  position: fixed;
  background: none;
  padding: 0 20px;
  z-index: 8;
  transition: 0.2s ease-in-out;
}

nav {
  max-width: 1200px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  line-height: 70px;
  margin: auto;
}

.sticky {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(4px);
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
}

.sticky span {
  font-size: 24px;
  color: var(--secondary);
}

.sticky ul li a {
  color: var(--black-accent);
}
.sticky ul li a:hover {
  color: var(--secondary);
}

.sticky .line {
  background-color: var(--black-accent);
}

/* menu icon */

.menu-icon {
  /* display: inline-block; */
  cursor: pointer;
  display: none;
  margin-top: 20px;
}

.line {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--white-accent);
  margin: 5px 0;
  transition: transform 0.3s, opacity 0.3s;
}

.close-icon .line:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.close-icon .line:nth-child(2) {
  opacity: 0;
}

.close-icon .line:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

nav span {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

nav span {
  font-size: 24px;
  font-weight: 700;
  color: var(--white-accent);
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li a {
  color: var(--white-accent);
  font-weight: 600;
  transition: 0.1s ease-in-out;
}

nav ul li a:hover {
  color: var(--secondary);
}

.container-change-theme {
  width: 60px;
  display: flex;
  align-items: center;
}

.change-theme {
  width: 60px;
  height: 25px;
  border-radius: 30px;
  padding: 2px;
  background-color: var(--primary);
  transition: all 0.3s;
  /* box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49) inset;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49) inset;
  -moz-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49) inset; */
}

.change-theme:hover {
  cursor: pointer;
}

.black-bg-theme {
  background-color: var(--black-accent);
}

.change-theme .dark-icon {
  width: 20px;
  height: 20px;
  background-color: var(--white-accent);
  border-radius: 50%;
  padding: 2px;
  margin-bottom: 25px;
  margin-left: 35px;
  fill: var(--black-accent);
  transition: all 0.3s;
}

.change-dark-icon {
  margin-left: 0;
  margin-bottom: 23px;
  opacity: 0;
  transition: all 0.3s;
}

.change-theme .light-icon {
  width: 20px;
  height: 20px;
  background-color: var(--white-accent);
  border-radius: 50%;
  padding: 2px;
  margin-top: -72px;
  margin-bottom: 25px;
  margin-right: 0px;
  fill: var(--white-accent);
  float: right;
  opacity: 0;
  transition: all 0.3s;
}

.change-light-icon {
  margin-top: -68px;
  margin-bottom: 25px;
  margin-right: 35px;
  fill: var(--white-accent);
  float: right;
  opacity: 1;
  transition: all 0.3s;
}

/* hero */

.container-hero {
  width: 100%;
  height: max-content;
  background-image: url(../assets/images/bg-hero-sea-50.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  max-width: 1200px;
  min-height: 700px;
  margin: auto;
  padding: 120px 20px;
}

.hero .text-hero {
  max-width: 850px;
  height: max-content;
  margin: auto;
  color: var(--white-accent);
  text-align: center;
  margin-top: 50px;
}

.text-hero h1 b {
  color: var(--secondary);
  background-color: var(--white-accent);
}

.text-hero p {
  font-size: 28px;
  margin-top: 10px;
}

.text-hero a button {
  width: max-content;
  height: 50px;
  border: 2px solid var(--secondary);
  color: var(--white-accent);
  background-color: var(--secondary);
  border-radius: 3px;
  padding: 0 15px;
  font-size: var(--font-size-p);
  margin: 20px 10px;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}

.text-hero a button:hover {
  cursor: pointer;
  padding: 5px 20px;
  margin: 20px 5px;
  background: none;
  border-color: var(--secondary);
  color: var(--secondary);
}

.text-hero a .hero-contact-btn {
  background: none;
  color: var(--secondary);
  border: 2px solid var(--secondary);
}

.text-hero a .hero-contact-btn:hover {
  color: var(--primary);
  background-color: var(--secondary);
  color: var(--white-accent);
}

/* culture */

.container-culture {
  width: 100%;
  height: max-content;
  background-color: var(--secondary);
}

.culture {
  max-width: 1200px;
  min-height: 700px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.culture p {
  margin-top: 10px;
}

.culture .container-img-culture-1 {
  width: 50%;
  height: 700px;
  background-image: url(../assets/images/wayang.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.1s ease-in-out;
}

.container-img-culture-1:hover {
  filter: brightness(80%);
}

.text-culture-1 {
  width: 50%;
  margin: auto;
  color: var(--white-accent);
  padding-left: 50px;
}

.culture .container-img-culture-2 {
  width: 50%;
  height: 700px;
  background-image: url(../assets/images/batik.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.1s ease-in-out;
}

.container-img-culture-2:hover {
  filter: brightness(80%);
}

.text-culture-2 {
  width: 50%;
  margin: auto;
  color: var(--white-accent);
  padding-right: 50px;
  text-align: end;
}

/* explore */

.container-explore {
  width: 100%;
  height: max-content;
  background-color: var(--white-accent);
}

.explore {
  max-width: 1200px;
  min-height: 700px;
  margin: auto;
  padding: 100px 20px;
}

.text-explore {
  max-width: 900px;
  color: var(--black-accent);
  text-align: center;
  margin: auto;
}

.text-explore h1 {
  color: var(--secondary);
}

/* popup explore */
.container-popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 100px;
  overflow-y: auto;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.container-popup:hover {
  cursor: zoom-out;
}

.popup-explore {
  max-width: 900px;
  height: max-content;
  padding: 10px;
  margin: auto;
  background-color: var(--secondary);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  color: var(--white-accent);
}

.popup-explore:hover {
  cursor: default;
}

.popup-explore .flex-popup {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.img-popup-1 {
  width: 350px;
  height: 450px;
  border-radius: 10px;
  background-image: url(../assets/images/prambanan-small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-popup-2 {
  width: 350px;
  height: 450px;
  border-radius: 10px;
  background-image: url(../assets/images/bali.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-popup-3 {
  width: 350px;
  height: 450px;
  border-radius: 10px;
  background-image: url(../assets/images/labuan-bajo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-popup-4 {
  width: 350px;
  height: 450px;
  border-radius: 10px;
  background-image: url(../assets/images/bromo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.img-popup-5 {
  width: 350px;
  height: 450px;
  border-radius: 10px;
  background-image: url(../assets/images/borobudur.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.text-popup {
  max-width: 50%;
}

.text-popup h2 {
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.text-popup p {
  font-size: var(--font-size-p);
}

.popup-explore svg {
  width: 20px;
  height: 20px;
  fill: #eeeeee;
  margin-left: 40px;
}

.popup-explore svg:hover {
  cursor: pointer;
}

/* all card explore */

.all-card-explore {
  max-width: 100%;
  height: max-content;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.favorite .empty-heart {
  width: 20px;
  height: 20px;
  float: right;
  margin-top: -40px;
  fill: var(--white-accent);
  display: block;
}

.favorite:hover {
  cursor: pointer;
}

.favorite .empty-heart:hover {
  fill: var(--red-accent);
  color: var(--white-accent);
}

.favorite .full-heart {
  width: 20px;
  height: 20px;
  float: right;
  margin-top: -40px;
  fill: var(--red-accent);
  display: none;
}

.card-explore-1 {
  width: 400px;
  height: 610px;
  background-image: url(../assets/images/prambanan-medium.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 20px;
  color: var(--white-accent);
  /* filter: grayscale(100%); */
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  transition: 0.2s ease-in-out;
}

.card-explore-1 h2 {
  width: max-content;
  background: none;
  padding: 2px 5px;
}

.empty-div:hover .card-explore-1 h2 {
  color: var(--secondary);
  padding: 2px 5px;
  background-color: var(--white-accent);
  transition: 0.3s ease-in-out;
}

.card-explore-1:hover {
  /* filter: grayscale(0%); */
}

.card-explore-2 {
  width: 440px;
  height: 300px;
  background-image: url(../assets/images/bali.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 20px;
  color: var(--white-accent);
  /* filter: grayscale(100%); */
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  transition: 0.2s ease-in-out;
}

.card-explore-2 h2 {
  width: max-content;
  background: none;
  padding: 2px 5px;
}

.empty-div:hover .card-explore-2 h2 {
  color: var(--secondary);
  padding: 2px 5px;
  background-color: var(--white-accent);
  transition: 0.3s ease-in-out;
}

.card-explore-2:hover {
  /* filter: grayscale(0%); */
}

.card-explore-3 {
  width: 300px;
  height: 300px;
  background-image: url(../assets/images/labuan-bajo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  color: var(--white-accent);
  /* filter: grayscale(100%); */
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  transition: 0.2s ease-in-out;
}

.card-explore-3 h2 {
  width: max-content;
  background: none;
  padding: 2px 5px;
}

.empty-div:hover .card-explore-3 h2 {
  color: var(--secondary);
  padding: 2px 5px;
  background-color: var(--white-accent);
  transition: 0.3s ease-in-out;
}

.card-explore-3:hover {
  /* filter: grayscale(0%); */
}

.card-explore-4 {
  width: 300px;
  height: 300px;
  background-image: url(../assets/images/bromo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 20px;
  color: var(--white-accent);
  /* filter: grayscale(100%); */
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  transition: 0.2s ease-in-out;
}

.card-explore-4 h2 {
  width: max-content;
  background: none;
  padding: 2px 5px;
}

.empty-div:hover .card-explore-4 h2 {
  color: var(--secondary);
  padding: 2px 5px;
  background-color: var(--white-accent);
  transition: 0.3s ease-in-out;
}

.card-explore-4:hover {
  /* filter: grayscale(0%); */
}

.card-explore-5 {
  width: 440px;
  height: 300px;
  background-image: url(../assets/images/borobudur.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 20px;
  margin-top: 10px;
  margin-left: -140px;
  color: var(--white-accent);
  /* filter: grayscale(100%); */
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  transition: 0.2s ease-in-out;
}

/* .card-explore-5 h2 {
  width: max-content;
  background: none;
  padding: 2px 5px;
} */

.empty-div:hover .card-explore-5 h2 {
  color: var(--secondary);
  padding: 2px 5px;
  background-color: var(--white-accent);
  transition: 0.3s ease-in-out;
}

.card-explore-5:hover {
  /* filter: grayscale(0%); */
}

.all-card-explore .view-more {
  width: max-content;
  height: 50px;
  border: 2px solid var(--secondary);
  color: var(--white-accent);
  background-color: var(--secondary);
  border-radius: 3px;
  padding: 0 15px;
  font-size: var(--font-size-p);
  margin: 20px 10px;
  font-weight: 700;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  transition: 0.2s ease-in-out;
}

.view-more:hover {
  cursor: pointer;
  padding: 5px 20px;
  margin: 20px 5px;
  background: none;
  border-color: var(--secondary);
  color: var(--secondary);
  background-color: var(--white-accent);
}

/* wonderland */

.container-wonderland {
  width: 100%;
  height: 550px;
  background-image: url(../assets/images/bali.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.wonderland {
  max-width: 1200px;
  min-height: 550px;
  margin: auto;
  padding: 100px 0px;
}

.text-wonderland {
  text-align: center;
  color: var(--white-accent);
}

.text-wonderland h1 {
  font-size: var(--font-size-dekstop-heading-1);
}

.video-wonderland {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  text-align: center;
  padding: 0 50px;
}

.video-wonderland iframe {
  min-width: 100%;
  max-width: 980px;
  height: 470px;
  border-radius: 10px;
  margin: auto;
  border: none;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
}

/* gallery */

.container-gallery {
  width: 100%;
  height: max-content;
  background-color: var(--secondary);
}

.gallery {
  max-width: 1200px;
  min-height: 700px;
  margin: auto;
  padding: 200px 20px 100px 20px;
}

.text-gallery {
  max-width: 900px;
  color: var(--white-accent);
  text-align: center;
  margin: auto;
}

.text-gallery h1 {
  font-size: var(--font-size-dekstop-heading-1);
  color: var(--white-accent);
}

.all-img-gallery {
  width: 100%;
  margin-top: 50px;
}

.slide-container-1 {
  display: inline-block;
  animation: 90s slide infinite linear;
}

.slide-container-2 {
  display: inline-block;
  animation: 70s slide infinite linear;
}

.slide-container-3 {
  display: inline-block;
  animation: 80s slide infinite linear;
}

.slide-container-1 img,
.slide-container-2 img,
.slide-container-3 img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border: 3px solid var(--white-accent);
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
}

.all-img-gallery img:hover {
  cursor: zoom-in;
}

.img-gallery-1 {
  width: 100%;
  overflow: hidden;
  background-color: var(--secondary);
  white-space: nowrap;
  position: relative;
}

.img-gallery-1:hover .slide-container-1 {
  animation-play-state: paused;
}

.img-gallery-1:before,
.img-gallery-1:after {
  position: absolute;
  width: 100px;
  height: 100%;
  content: "";
  z-index: 3;
}

.img-gallery-1:before {
  left: 0;
}

.img-gallery-1:after {
  right: 0;
}

.img-gallery-2 {
  width: 100%;
  overflow: hidden;
  background-color: var(--secondary);
  white-space: nowrap;
  position: relative;
}

.img-gallery-2:hover .slide-container-2 {
  animation-play-state: paused;
}

.img-gallery-2:before,
.img-gallery-2:after {
  position: absolute;
  width: 200px;
  height: 100%;
  content: "";
  z-index: 3;
}

.img-gallery-2:before {
  left: 0;
}

.img-gallery-2:after {
  right: 0;
}

.img-gallery-3 {
  width: 100%;
  overflow: hidden;
  background-color: var(--secondary);
  white-space: nowrap;
  position: relative;
}

.img-gallery-3:hover .slide-container-3 {
  animation-play-state: paused;
}

.img-gallery-3:before,
.img-gallery-3:after {
  position: absolute;
  width: 200px;
  height: 100%;
  content: "";
  z-index: 3;
}

.img-gallery-3:before {
  left: 0;
}

.img-gallery-3:after {
  right: 0;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.zoom-effect {
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.49);
}

.card-gallery:hover img {
  transform: scale(1.04);
  filter: brightness(80%);
}

/* contact */

.container-contact {
  width: 100%;
  height: max-content;
  background-color: var(--white-accent);
}

.contact {
  max-width: 1200px;
  min-height: 700px;
  margin: auto;
  padding: 100px 20px;
}

.text-contact {
  max-width: 900px;
  color: var(--secondary);
  text-align: center;
  margin: auto;
}

.text-contact h1 {
  font-size: var(--font-size-dekstop-heading-1);
  color: var(--secondary);
}

/* media query laptop */

@media screen and (max-width: 1200px) {
  /* explore */

  .card-explore-1 {
    max-width: 400px;
  }

  .card-explore-2 {
    max-width: auto;
  }

  .card-explore-3 {
    width: auto;
  }

  .two-card-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .card-explore-4 {
    width: 400px;
  }

  .card-explore-5 {
    width: 400px;

    margin-left: 0;
    margin-top: 0;
  }

  /* explore*/
  .explore {
    padding: 200px 20px 100px 20px;
  }
}

/* media query tablet */
@media screen and (max-width: 768px) {
  /* nav */

  nav .menu-icon {
    display: inline-block;
  }

  .hidden-ul {
    width: 110%;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    right: -1000px;
    padding: 100px 0px;
    text-align: center;
    color: var(--black-accent);
    background-color: #ffffffb3;
    backdrop-filter: blur(4px);
    transition: all 0.3s ease-in-out;
  }

  .sticky .hidden-ul {
    width: 110%;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    right: -1000px;
    margin-top: 70px;
    padding: 100px 0px;
    text-align: center;
    color: var(--black-accent);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
  }

  .show-ul {
    width: 110%;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    right: -20px;
    padding: 100px 0px;
    text-align: center;
    color: var(--black-accent);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
  }

  nav ul li a {
    color: var(--black-accent);
  }

  .sticky .show-ul {
    width: 110%;
    height: 100vh;
    display: block;
    margin-top: 70px;
    position: absolute;
    top: 0;
    right: -20px;
    margin-top: 70px;
    padding: 100px 0px;
    text-align: center;
    color: var(--black-accent);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
  }

  /* hero */

  .text-hero h1 {
    font-size: 40px;
  }

  .text-hero p {
    font-size: var(--font-size-p);
  }

  /* culture */

  .culture {
    padding: 100px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .culture .container-img-culture-1 {
    width: 100%;
  }

  .culture .container-img-culture-2 {
    width: 100%;
  }

  .content-culture-1 {
    flex-wrap: wrap;
  }

  .content-culture-2 {
    flex-wrap: wrap;
  }

  .image-culture {
    width: 450px;
  }

  .text-culture-1 {
    width: auto;
    padding-left: 0;
  }

  .text-culture-2 {
    width: auto;
    padding-right: 0;
    text-align: start;
  }

  .text-culture h1 {
    font-size: 30px;
  }

  .text-culture p {
    font-size: var(--font-size-p);
  }

  /* explore*/
  .explore {
    padding: 100px 20px;
  }

  .card-explore-1 {
    max-width: 400px;
    height: 350px;
  }

  .two-card-1 {
    width: auto;
  }

  .card-explore-2 {
    max-width: 400px;
    height: 350px;
  }

  .card-explore-3 {
    max-width: 400px;
    height: 350px;
  }

  .two-card-2 {
    width: auto;
    flex-wrap: wrap;
  }

  .card-explore-4 {
    max-width: 400px;
    height: 350px;
  }

  .card-explore-5 {
    max-width: 400px;
    height: 350px;
  }

  /* gallery */

  .gallery {
    max-width: 1200px;
    min-height: 700px;
    margin: auto;
    padding: 250px 20px 100px 20px;
  }
}

/* media query smartphone */
@media screen and (max-width: 600px) {
  h1 {
    font-size: var(--font-size-mobile-heading-1);
  }

  h2 {
    font-size: var(--font-size-mobile-heading-2);
  }

  /* hero */

  .hero .text-hero h1 {
    font-size: 35px;
  }

  /* explore */

  .card-explore-1 {
    max-width: 350px;
    height: 350px;
  }

  .two-card-1 {
    width: auto;
  }

  .card-explore-2 {
    max-width: 350px;
    height: 350px;
  }

  .card-explore-3 {
    max-width: 350px;
    height: 350px;
  }

  .two-card-2 {
    width: auto;
    flex-wrap: wrap;
  }

  .card-explore-4 {
    max-width: 350px;
    height: 350px;
  }

  .card-explore-5 {
    max-width: 350px;
    height: 350px;
  }

  /* gallery */

  .gallery {
    padding: 260px 20px 100px 20px;
  }

  .gallery h1 {
    font-size: var(--font-size-mobile-heading-1);
  }
}
